body {
  -ms-overflow-style: none;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}

blockquote {
  padding: 10px 20px 10px 10px;
  background-color: #f8f8f8;
  border-left: 5px solid #111111;
  margin: 15px 30px 0 10px;
  border-radius: 5px;
}
